/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary */
b {
	color: hsl(300, 43%, 22%);
	/*Very Dark Magenta: */
	color: hsl(333, 80%, 67%);
	/*Soft Pink:*/
}

/* ### Neutral */
a {
	color: hsl(303, 10%, 53%);
	/*Dark Grayish Magenta: */
	color: hsl(300, 24%, 96%);
	/* Light Grayish Magenta: */
	color: hsl(0, 0%, 100%);
	/*White:*/
}

/* ## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 400, 500, 700 */